[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
shell = "*"
langchain = "*"
langchain-community = "*"
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.11"
